/* ## RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

/* GENERICS */
.container {
  border: 2px dotted black;
  margin: 0 auto;
  width: 75%;
}

/* HEADER */

.header {
  background-color: #ff6900;
  height: 50px;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
}

.header > .container {
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style-type: none;
}
.header ul li {
  display: inline;
}

.logo {
  width: 100px;
}

/* VETRINA */

.articoli {
  padding-top: 50px;
}

.vetrina {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  width: calc(100% / 3 - 20px);
  min-width: 250px;
  margin: 40px 10px 40px 10px;
  position: relative;
}

.second-img {
  display: none;
}

.cards:hover > .first-img {
  display: none;
}

.cards:hover > .second-img {
  display: inline-block;
}

.hearts {
  position: absolute;
  right: 0;
  top: 8px;
  background-color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags {
  position: absolute;
  bottom: 30px;
}
.sconto,
.sostenibilita {
  display: inline-block;
  color: white;
  font-size: 10px;
  padding: 3px 7px;
}

.sconto {
  background-color: red;
}
.sostenibilita {
  background-color: green;
}

.info {
  position: absolute;
}

.brand,
.nome {
  display: block;
}

.brand,
.newprice,
.oldprice {
  font-size: 10px;
}
.nome {
  font-weight: bolder;
  font-size: 12px;
}
.newprice {
  color: red;
  font-weight: bolder;
}
.oldprice {
  text-decoration: line-through;
}

/* FOOTER */
